---
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="">
    <header class="bg-primary text-white py-4 md:py-8">
      <h1 class="text-lg md:text-xl font-bold">Esbeltas Store</h1>
    </header>

    <main>
      <slot />
      <!-- Aquí se inyecta el contenido de cada página -->
    </main>

    <footer class="bg-gray-100 text-center py-8 ">
      <p>© 2026 Esbeltas Store</p>
    </footer>
  </body>
</html>
